.payment-wrapper {
  .form-enjoy-dream {
    min-height: 540px;
    background: url('/images/background/home-background.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .form-content {
      @apply mx-4 pt-10;
      padding-bottom: 47px;

      .title-form {
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        @apply font-normal font-bold text-white text-center;
      }

      .description-form {
        line-height: 140%;
        @apply font-normal font-bold text-white text-sm font-medium text-center mt-2;
      }
    }
  }
  // Form payment info
  .text-area {
    .form_base-input-main {
      align-items: flex-start !important;
      @apply h-28;
    }
  }

  // Information order
  .increase,
  .decrease {
    background-color: #212751;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .decrease {
    background-color: #b1b5c3;
  }
  .form-right {
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 24px;
  }
}
