// main layout
.main-layout {
  @apply min-h-screen;
}

// header layout
.header-layout {
  height: var(--height-header);
  @apply px-4;

  .content-header {
    @apply flex items-center justify-between h-full;

    .left-content {
      .logo-page {
        cursor: pointer;
      }
    }

    .right-content {
      @apply flex items-center;

      .support-text {
        @apply text-primary font-bold text-lg mr-8 cursor-pointer hidden md:block;
      }

      .login-button {
        margin-left: 51px;
        @apply font-GoogleSans font-medium text-base text-primary cursor-pointer mr-8 hidden md:block;
      }

      .register-button {
        @apply text-neutral rounded-lg bg-primary font-GoogleSans font-medium text-base px-4 py-3 cursor-pointer hidden md:block;
        line-height: 22px;
        max-height: 46px;
        min-width: 94px;
      }
    }
  }
}

// hamburger icon
.hamburger_icon {
  @apply ml-6 md:hidden z-20;

  .hamburger {
    @apply m-auto my-0 w-7 h-7 relative;
    width: 24px;
    height: 24px;

    .bar {
      @apply p-0 h-1 bg-neutral07 block rounded-sm absolute;
      width: 24px;
      transition: all 0.4s ease-in-out;
    }

    .bar1 {
      @apply top-0;
    }

    .bar2,
    .bar3 {
      top: 10px;
    }

    .bar3 {
      @apply right-0;
    }

    .bar4 {
      @apply bottom-0;
    }
  }

  .hamburger4 .bar4 {
    top: 10px;
  }

  .hamburger4 .bar5 {
    @apply bottom-0;
  }

  .hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  }

  .hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 10px;
  }

  .hamburger4 .bar3 {
    width: 1px;
    left: 10px;
  }

  .checkbox4:checked + label > .hamburger4 > .bar1 {
    top: 10px;
    @apply bg-transparent;
  }

  .checkbox4:checked + label > .hamburger4 > .bar2 {
    left: 0px;
    width: 24px;
    transform: rotate(45deg);
  }

  .checkbox4:checked + label > .hamburger4 > .bar3 {
    left: 0;
    width: 24px;
    transform: rotate(-45deg);
  }

  .checkbox4:checked + label > .hamburger4 > .bar4 {
    background-color: transparent;
  }

  .checkbox4:checked + label > .hamburger4 > .bar5 {
    bottom: 13.5px;
    background-color: transparent;
  }
}

// locale select box
.locale-select-wrapper {
  @apply relative;

  .locale-select-item-active {
    @apply flex items-center cursor-pointer;

    .local-dropdown_icon {
      margin-left: 11px;
    }

    .local-icon {
      @apply cursor-pointer mb-1 last:mb-0 w-5 h-5 rounded-full;
    }
  }

  .list-locale {
    min-width: 174px;
    @apply bg-neutral absolute top-14 right-0 py-4 px-6 rounded-lg shadow-sh01 z-10 hidden;

    .item-local {
      @apply flex items-center first:mb-8 cursor-pointer;

      .local-icon {
        @apply cursor-pointer mb-1 last:mb-0 w-5 h-5 rounded-full;
      }

      .locale-name {
        @apply text-gs2 leading-5 ml-2 flex-1;
      }

      .icon-locale-active {
        @apply hidden;
      }

      .show-active-icon {
        @apply block;
      }
    }
  }

  .show-list-locale {
    @apply block;
  }
}

// footer layout
.footer-layout {
  @apply bg-neutral02 px-4 pt-4;
  height: var(--height-footer);

  .content-footer {
    @apply flex items-center justify-between;

    .left-content {
      @apply flex items-center;
      .logo-page {
        cursor: pointer;
      }
    }

    .right-content {
      .contact-title {
        @apply font-GoogleSans text-primary font-bold text-lg;
        line-height: 22px;
      }

      .list-social-contact {
        .social-view {
          @apply flex items-center;

          .social-contact-item {
            @apply cursor-pointer mt-3 mr-3;
          }
        }
      }
    }
  }

  .copyright {
    @apply text-xs text-neutral05 font-normal leading-5 text-center mt-4;
  }
}

.nav-mobile-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 h-full w-full z-10 hidden;
  background: rgba(20, 20, 22, 0.4);
}

#toggle_menu_icon:checked ~ .nav-mobile-overlay {
  @apply block;
}

#toggle_menu_icon:checked ~ .menu-mobile {
  transform: translateX(0%);
}

// menu mobile
.menu-mobile {
  @apply fixed top-0 right-0 bottom-0 bg-neutral z-20;
  width: 71%;
  transform: translateX(100%);
  transition: all ease 0.3s;

  .menu-mobile-header {
    @apply flex mx-4 border-b border-neutral02 items-center justify-between;
    height: var(--height-header);

    .menu-mobile_info-user {
      @apply flex items-center;
      .menu-mobile_avatar {
        @apply w-10 h-10 rounded-full;
      }

      .menu-mobile_name-user {
        @apply text-primary font-medium text-sm leading-5 ml-3;
      }
    }

    .menu-mobile_icon-close {
      @apply w-4 h-4;
    }
  }

  .menu-mobile_content {
    @apply mt-4;

    .menu-mobile_item {
      @apply flex items-center py-3 px-4;

      .menu-mobile-item_icon {
        width: 22px;
        height: 22px;
      }

      .menu-mobile-item-label {
        @apply ml-3 text-neutral05;
      }

      &:last-child {
        .menu-mobile-item-label {
          @apply text-secondaryRed-1000;
        }
      }
    }

    .menu-mobile_item-active {
      @apply bg-primary;

      .menu-mobile-item-label {
        @apply text-neutral;
      }

      &:last-child {
        .menu-mobile-item-label {
          @apply text-neutral;
        }
      }
    }
  }
}
