.taxi-boat-one-way {
  .taxi-boat-one-way-banner {
    @apply min-h-[176px] md:min-h-[421px];
    background: url('/images/background/background-taxi-boat-one-way.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .taxi-boat-one-way-banner-title {
      @apply text-white font-bold text-2xl leading-7 text-center pt-4 md:pt-[65px] md:text-5xl md:leading-[48px];
    }

    .taxi-boat-one-way-banner-description {
      @apply text-white font-normal text-[10px] leading-[14px] text-center mt-1 md:mt-3 md:text-base md:leading-[22px];
    }
  }

  .taxi-boat-one-way-step {
    @apply mx-4 mt-8;
  }

  .taxi-boat-one-way-header {
    @apply mt-8 mx-4;
  }

  .taxi-boat-one-way-alert {
    @apply mt-6 mx-4;
  }

  .order-item-from-to {
    @apply flex items-center mb-2;

    .order-item-form-text,
    .order-item-to-text {
      @apply text-lg font-bold text-neutral07 leading-[22px] md:text-xl md:leading-6;
      line-height: 22px;
    }

    .order-item-from-to-icon {
      @apply mx-1;
    }
  }
}

.taxi-boat-one-way_last-order {
  @apply mx-4;

  .taxi-boat-one-way_filter-header {
    @apply flex items-center justify-between mt-6;

    .available-trip {
      @apply text-sm font-medium text-neutral05 md:text-base;
      .number-available-trip {
        @apply text-neutral07 font-semibold text-sm mr-1 md:text-base;
      }
    }

    .sort-last-order {
      @apply flex items-center;
      .sort-title {
        @apply text-xs font-medium text-neutral05 mr-2 md:text-sm;
      }
    }
  }
}

// order item
.taxi-boat-one-way_order-item {
  @apply bg-neutral rounded-lg p-4 mb-4 md:flex md:justify-between border-2 border-transparent;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.1);

  .taxi-boat-one-way-order-item-content {
    @apply flex md:flex-1 md:mr-12 relative;

    .taxi-boat-one-way_order-item-left-content {
      @apply rounded-lg mr-3 md:max-w-[52px];
      width: 52px;
      height: 52px;

      .order-item_boat-image {
        @apply object-cover rounded-lg;
        width: 52px;
        height: 52px;
      }
    }

    .taxi-boat-one-way_order-item-right-content {
      @apply md:flex-1;

      .order-item-field-data {
        @apply flex items-center mb-[5px] md:mb-0;

        .order-item-field-label {
          @apply text-neutral05 font-normal text-xs leading-5 md:text-sm md:leading-5;
        }

        .order-item-field-content {
          @apply ml-1 text-primary font-medium text-xs leading-5 md:text-sm md:leading-5;
        }
      }
    }

    .icon-radio-order {
      @apply w-[12.83px] h-[12.83px] absolute right-0 bottom-0 lg:top-0 lg:bottom-auto;
    }
  }

  .form_base-button-submit {
    @apply md:h-[52px];
  }
}

.taxi-boat-one-way_order-item-roundtrip {
  @apply last:mb-0 border border-neutral03;

  .taxi-boat-one-way-order-item-content {
    @apply mr-0;
    .taxi-boat-one-way_order-item-right-content {
      @apply w-full;
    }
  }
}

.taxi-boat-one-way_order-item-active {
  @apply border border-secondaryBlue-1000;
}

.wrapper-list-order-roundtrip {
  @apply md:flex w-full;
}

.list-order-roundtrip {
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.08);
  @apply p-4 rounded-lg bg-neutral mt-4 md:flex-1 md:mr-6 md:last:mr-0;
}

.taxi-boat-roundtrip-button-submit {
  @apply pb-6 md:pb-[75px] md:flex md:justify-end md:mt-6;
}
