.pagination-container {
  .pageItem {
    @apply px-2.5 leading-tight border-[1px] border-primary h-8 
        rounded-lg mr-2 sm:py-0.5 sm:px-3 sm:h-9
         hover:bg-gray-100 hover:text-gray-700;
  }
  .selected {
    .selected-page {
      @apply bg-primary text-white;
    }
  }
  .break-item {
    @apply py-2 mr-2 leading-tight h-8 sm:h-9 
    rounded-lg;
  }
}
