@import './layout/styles.layout.scss';
@import './home/styles.home.scss';
@import './payment/styles.payment.scss';
@import './form-base/styles.forms.scss';
@import './auth/login/styles.login.scss';
@import './auth/styles.signup.scss';
@import './taxi-boat/styles.oneway.scss';
@import './pagination/styles.pagination.scss';
@import './classic-boat/styles.classicBoat.scss';

// fonts
@font-face {
  font-family: 'GoogleSans';
  font-weight: 800;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 800;
  src: local('GoogleSans'), url('/fonts/GoogleSans-BlackItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 600;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 600;
  src: local('GoogleSans'), url('/fonts/GoogleSans-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 500;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 500;
  src: local('GoogleSans'), url('/fonts/GoogleSans-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 400;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 400;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 300;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 300;
  src: local('GoogleSans'), url('/fonts/GoogleSans-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 200;
  src: local('GoogleSans'), url('/fonts/GoogleSans-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'GoogleSans';
  font-weight: 200;
  src: local('GoogleSans'), url('/fonts/GoogleSans-ThinItalic.ttf') format('ttf');
}
