// variables
@import './variables.scss';

// tailwind
@import './tailwind.css';

@import './reset.scss';

// custom
@import './custom.scss';

#__next {
  @apply min-h-screen;
}

body {
  @apply mx-auto my-0;
}

// max width screen {
.max-screen {
  max-width: var(--max-width-screen);
  margin: 0 auto;
}

// main content
.main-content {
  max-width: var(--width-content);
  @apply m-auto;
}

// alert notification
#alert_id {
  @apply fixed top-4 right-8;
  z-index: 999999;
}

.alert_notification {
  @apply flex border rounded-lg p-3 items-center justify-between mt-4;
  max-width: 600px;
  transition: all linear 0.3s;

  .alert_notification-icon {
    @apply mr-3;
  }

  .alert_notification-content {
    @apply mr-4 flex-1;
    margin-right: 4px;

    .alert_notification-content-mess {
      @apply text-sm font-medium;
    }
  }

  .alert_notification-icon-close {
    @apply cursor-pointer;
  }
}

.alert_notification-success {
  @apply border-secondaryGreen-1000 bg-secondaryGreen-900;

  .alert_notification-content {
    .alert_notification-content-mess {
      @apply text-secondaryGreen-1000;
    }
  }
}

.alert_notification-info {
  @apply border-secondaryBlue-1000 bg-secondaryBlue-900;

  .alert_notification-content {
    .alert_notification-content-mess {
      @apply text-secondaryBlue-1000;
    }
  }
}

.alert_notification-warning {
  @apply border-secondaryYellow-1000 bg-secondaryYellow-900;

  .alert_notification-content {
    .alert_notification-content-mess {
      @apply text-secondaryYellow-1000;
    }
  }
}

.alert_notification-error {
  @apply border-secondaryRed-1000 bg-secondaryRed-900;

  .alert_notification-content {
    .alert_notification-content-mess {
      @apply text-secondaryRed-1000;
    }
  }
}

// toast notification
#toast_id {
  @apply fixed top-4 right-0;
  z-index: 999999;
}

.toast_notification {
  @apply flex rounded-l p-4 items-center justify-between mt-4;
  max-width: 600px;
  transition: all linear 0.3s;

  .toast_notification-icon {
    @apply mr-3;
  }

  .toast_notification-content {
    @apply mr-4 flex-1;
    margin-right: 4px;

    .toast_notification-content-mess {
      @apply text-sm font-medium;
    }
  }

  .toast_notification-icon-close {
    @apply cursor-pointer;
  }
}

.toast_notification-success {
  @apply bg-secondaryGreen-1000;

  .toast_notification-content {
    .toast_notification-content-mess {
      @apply text-neutral;
    }
  }
}

.toast_notification-info {
  @apply border-secondaryBlue-1000 bg-secondaryBlue-900;

  .toast_notification-content {
    .toast_notification-content-mess {
      @apply text-secondaryBlue-1000;
    }
  }
}

.toast_notification-warning {
  @apply border-secondaryYellow-1000 bg-secondaryYellow-900;

  .toast_notification-content {
    .toast_notification-content-mess {
      @apply text-secondaryYellow-1000;
    }
  }
}

.toast_notification-error {
  @apply border-secondaryRed-1000 bg-secondaryRed-900;

  .toast_notification-content {
    .toast_notification-content-mess {
      @apply text-secondaryRed-1000;
    }
  }
}

.login-form_input {
  .form_base-label {
    @apply text-neutral07;
  }
}

// alert notification normal
.alert_notification_normal {
  @apply flex border rounded-lg p-[10px] items-center justify-between mt-4 w-full md:p-3;
  transition: all linear 0.3s;

  .alert_notification_normal-icon {
    @apply mr-3;
  }

  .alert_notification_normal-content {
    @apply mr-4 flex-1;
    margin-right: 4px;

    .alert_notification_normal-content-mess {
      @apply text-xs leading-[17px] font-medium md:text-sm md:leading-5;
    }
  }

  .alert_notification_normal-icon-close {
    @apply cursor-pointer;
  }
}

.alert_notification_normal-hidden {
  @apply hidden;
}

.alert_notification_normal-success {
  @apply border-secondaryGreen-1000 bg-secondaryGreen-900;

  .alert_notification_normal-content {
    .alert_notification_normal-content-mess {
      @apply text-secondaryGreen-1000;
    }
  }
}

.alert_notification_normal-info {
  @apply border-secondaryBlue-1000 bg-secondaryBlue-900;

  .alert_notification_normal-content {
    .alert_notification_normal-content-mess {
      @apply text-secondaryBlue-1000;
    }
  }
}

.alert_notification_normal-warning {
  @apply border-secondaryYellow-1000 bg-secondaryYellow-900;

  .alert_notification_normal-content {
    .alert_notification_normal-content-mess {
      @apply text-secondaryYellow-1000;
    }
  }
}

.alert_notification_normal-error {
  @apply border-secondaryRed-1000 bg-secondaryRed-900;

  .alert_notification_normal-content {
    .alert_notification_normal-content-mess {
      @apply text-secondaryRed-1000;
    }
  }
}

// step page
.step_page {
  @apply flex items-center justify-between;

  .step_page_item {
    @apply flex-1 mr-3 last:mr-0 md:mr-6 md:last:mr-0;

    .step_page_item-step-number {
      @apply font-bold text-xs leading-[17px] text-neutral04 md:text-lg md:leading-[22px];

      .step_page_item-title {
        @apply font-bold text-xs leading-[17px] text-neutral04 md:text-lg md:leading-[22px];
      }
    }

    .step_page_item-line {
      @apply h-1 bg-neutral04 rounded-sm mt-2 md:h-2;
    }
  }

  .step_page_item-active {
    .step_page_item-step-number {
      @apply text-primary;

      .step_page_item-title {
        @apply text-primary;
      }
    }

    .step_page_item-line {
      @apply bg-primary;
    }
  }
}

// back page
.back-page-common {
  @apply relative;

  .back-page-common-icon-view {
    @apply w-7 h-7 cursor-pointer absolute left-0 md:w-10 md:h-10 top-1/2 -translate-y-1/2;

    .back-page-common-icon {
      @apply w-7 h-7 cursor-pointer md:w-10 md:h-10;
    }
  }

  .back-page-common-title {
    @apply text-neutral07 font-bold text-2xl leading-7 text-center md:text-[32px] md:leading-[45px] md:text-left md:pl-14;
  }
}

// select filter
.select-filter-wrapper {
  @apply relative;

  .select-filter-item-active {
    @apply flex items-center cursor-pointer;

    .local-dropdown_icon {
      margin-left: 11px;
    }

    .name {
      @apply text-xs text-secondaryBlue-1000 font-medium;
    }
  }

  .list-locale {
    min-width: 202px;
    @apply bg-neutral absolute top-6 right-0 py-4 px-6 rounded-lg shadow-sh01 z-10 hidden;

    .item-local {
      @apply flex items-center cursor-pointer py-3 border-t border-b border-t-neutral02 border-b-neutral02 last:border-b-0 first:border-t-0;

      .local-icon {
        @apply cursor-pointer mb-1 last:mb-0 w-5 h-5 rounded-full;
      }

      .locale-name {
        @apply text-xs leading-5 text-neutral07 w-full md:text-sm;
      }

      .local-name-active {
        @apply font-semibold;
      }

      .icon-locale-active {
        @apply hidden;
      }

      .show-active-icon {
        @apply block;
      }
    }
  }

  .show-list-locale {
    @apply block;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
