:root {
  --height-screen: 100vh;
  --height-header: 86px;
  --width-content: 1120px;
  --max-width-screen: 1440px;
  --height-footer: 122px;

  // base
  --primary-base: #212751;
  --neutral-01: #fcfcfd;
  --neutral-02: #f4f5f6;
  --neutral-03: #e6e8ec;
  --neutral-04: #b1b5c4;
  --neutral-05: #777e91;
  --neutral-06: #353945;
  --neutral-07: #23262f;
  --neutral-08: #141416;
  --neutral-11: #f5f5f6;
  --gs2: #45485e;
  --bg-main: #e5e5e5;

  // alert
  --secondaryRed: #ff2727;
  --secondaryRed900: rgba(255, 39, 39, 0.1);
  --secondaryYellow: #faba3e;
  --secondaryYellow900: rgba(250, 186, 62, 0.1);
  --secondaryBlue: #2d9aff;
  --secondaryBlue900: rgba(45, 154, 255, 0.1);
  --secondaryGreen: #33cc7f;
  --secondaryGreen900: rgba(51, 204, 127, 0.1);
}
