.home-page-wrapper {
  @apply w-full bg-neutral;

  .form-enjoy-dream {
    min-height: 740px;
    background: url('/images/background/home-background.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .form-content {
      @apply mx-4 pt-10;
      padding-bottom: 47px;

      .title-form {
        font-size: 32px;
        line-height: 140%;
        text-align: center;
        @apply font-normal font-bold text-white text-center;
      }

      .description-form {
        line-height: 140%;
        @apply font-normal font-bold text-white text-sm font-medium text-center mt-2;
      }

      .form-main {
        @apply bg-neutral rounded-lg w-full py-6 px-4 mt-8;
      }
    }
  }
}

// tab form
.home-page_tab_form_boat {
  @apply flex;
  .home-page-tab-item {
    @apply flex-1 font-medium text-sm text-neutral04 pb-4 border-b border-neutral03 text-center relative;
    transition: all ease 0.3s;

    &::after {
      @apply bottom-0 left-0 right-0 w-0 absolute bg-neutral07;
      content: '';
      height: 1.5px;
      transition: all ease 0.3s;
      margin: 0 auto;
    }
  }

  .home-page-tab-item-active {
    @apply text-neutral07;
    &::after {
      @apply w-full;
    }
  }
}

.radio-form-custom {
  @apply flex mt-6;

  .radio-form-item {
    @apply flex first:mr-16;

    .radio-form_label {
      @apply font-medium text-sm leading-5 text-neutral05 ml-3;
    }

    .radio-form_label-active {
      @apply text-neutral07;
    }
  }
}

.checkbox-form-custom {
  @apply flex items-center;

  .checkbox-form-custom_label {
    @apply font-medium text-sm leading-5 text-neutral07 ml-3;
  }
}

.home-page_last-order {
  @apply pt-8 mx-4;

  .home-page_last-order-title {
    @apply text-neutral07 text-2xl font-bold leading-7 text-center;
  }

  .home-page_filter-header {
    @apply flex items-center justify-between mt-6;

    .available-trip {
      @apply text-xs font-medium text-neutral05;
      .number-available-trip {
        @apply text-neutral07 font-semibold text-sm mr-1;
      }
    }

    .sort-last-order {
      @apply flex items-center;
      .sort-title {
        @apply text-xs font-medium text-neutral05 mr-2 md:text-sm;
      }
    }
  }
}

// order item
.home-page_order-item {
  @apply bg-neutral rounded-lg p-4 mb-4 md:flex md:justify-between;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.1);

  .home-page-order-item-content {
    @apply flex md:flex-1 md:mr-12;

    .home-page_order-item-left-content {
      @apply rounded-lg mr-3 md:max-w-[52px];
      width: 52px;
      height: 52px;

      .order-item_boat-image {
        @apply object-cover rounded-lg;
        width: 52px;
        height: 52px;
      }
    }

    .home-page_order-item-right-content {
      @apply md:flex-1;
      .order-item-from-to {
        @apply flex items-center mb-2;
        .order-item-form-text,
        .order-item-to-text {
          @apply text-lg font-bold text-neutral07;
          line-height: 22px;
        }

        .order-item-from-to-icon {
          @apply mx-1;
        }
      }

      .order-item-field-data {
        @apply flex items-center mb-[5px] md:mb-0;

        .order-item-field-label {
          @apply text-neutral05 font-normal text-xs leading-5;
        }

        .order-item-field-content {
          @apply ml-1 text-primary font-medium text-xs leading-5;
        }
      }
    }
  }

  .form_base-button-submit {
    @apply md:h-[52px];
  }
}
