// label field
.form_base-label {
  @apply text-neutral05 font-medium text-sm;
  margin-bottom: 7px;
}

// mess error
.form_base-mess-error {
  @apply text-red-500 font-medium text-sm;
}

.form_base-hidden-mess-error {
  @apply hidden;
}

.form_base-label-hidden {
  @apply hidden;
}

// button
.form_base-button-submit {
  @apply font-medium  text-sm rounded-lg leading-5 py-2 px-6 md:text-base md:leading-[22px];
  min-width: 82px;
}

.form_base-button-submit-primary {
  @apply text-neutral bg-primary border border-transparent hover:bg-neutral hover:border-primary hover:text-primary transition-all;
}

.form_base-button-submit-outline {
  @apply text-primary bg-neutral border border-primary hover:bg-primary hover:border-transparent hover:text-neutral transition-all;
}

// input
.form_base_input-view {
  @apply flex flex-col;

  .form_base-input-main {
    @apply border-neutral03 box-border py-2 px-4 border flex w-full items-center hover:border-primary hover:border;

    .form_base-input,
    .form_base-date-picker {
      @apply outline-none transition-all text-neutral07 text-sm font-medium w-full;
      line-height: 18px;
    }

    // .form_base-input-suffix-icon {
    //   @apply w-4 h-4;
    // }

    .form_base-input-prefix-icon {
      @apply mr-3;
    }

    .form_base-date-picker {
      @apply caret-transparent;
    }
  }

  .form_base-date-picker-main {
    div[class='react-datepicker__triangle'] {
      &::after,
      &::before {
        left: -16px !important;
      }
    }
  }

  .form_base-input-main-error {
    @apply border-secondaryRed-1000 border hover:border-secondaryRed-1000;
  }
}

// select
.form_base_select-view {
  @apply flex flex-col;

  .form_base-select-box {
    @apply relative;

    .form_base-select-active-view {
      @apply flex items-center w-full justify-between px-4 py-2 border-neutral03 border hover:border-primary hover:border focus:outline-none;

      &:focus {
        outline: none;
      }

      .form_base-select-active-label {
        @apply text-neutral07 text-sm font-medium w-full text-left text-neutral05;
      }

      .form_base-select-active-have-value {
        @apply text-neutral07;
      }
    }

    .form_base-select-active-view-error {
      @apply border-secondaryRed-1000 border hover:border-secondaryRed-1000;
    }

    .form_base-list-box-select {
      @apply absolute w-full py-1 mt-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm z-10;

      .form_base-list-box-option {
        @apply cursor-default select-none relative py-2 pr-6 text-gray-900 flex;

        .icon-checked {
          @apply text-primary hidden mr-2 ml-3;
        }

        .form_base-icon-counter {
          @apply w-5 h-5 mr-2 ml-3;
        }
      }

      .form_base-list-box-option-active {
        @apply text-primary bg-amber-100;

        .icon-checked {
          @apply block;
        }

        .form_base-icon-counter {
          @apply hidden;
        }
      }
    }

    .form_base-allow-clear-icon {
      @apply w-4 h-4 cursor-pointer absolute right-8 top-1/4 hidden;
    }

    .form_base-allow-clear-icon-show {
      @apply block;
    }
  }
}
