.classic-boat-wrapper {
  @apply bg-neutral;

  .classic-boat-wrapper-banner {
    @apply min-h-[176px] md:min-h-[421px];
    background: url('/images/background/background-taxi-boat-one-way.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .classic-boat-wrapper-banner-title {
      @apply text-white font-bold text-2xl leading-7 text-center pt-4 md:pt-[65px] md:text-5xl md:leading-[48px];
    }

    .classic-boat-wrapper-banner-description {
      @apply text-white font-normal text-[10px] leading-[14px] text-center mt-1 md:mt-3 md:text-base md:leading-[22px];
    }
  }

  .classic-boat-wrapper-step {
    @apply mx-4 mt-8;
  }

  .classic-boat-wrapper-header {
    @apply mt-8 mx-4;
  }

  .classic-boat-wrapper-alert {
    @apply mt-6 mx-4;
  }
}

.classic-boat-wrapper_last-order {
  @apply mx-4;

  .classic-boat-wrapper_filter-header {
    @apply flex items-center justify-between mt-6;

    .available-trip {
      @apply text-sm font-medium text-neutral05 md:text-base;
      .number-available-trip {
        @apply text-neutral07 font-semibold text-sm mr-1 md:text-base;
      }
    }

    .sort-last-order {
      @apply flex items-center;
      .sort-title {
        @apply text-xs font-medium text-neutral05 mr-2 md:text-sm;
      }
    }
  }

  .classic-boat-list-order {
    @apply md:hidden;
  }
}

// Order Item
.classic-boat-order-item {
  @apply rounded-lg w-full bg-neutral mb-4 last:mb-0;

  box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.08);

  .classic-boat-order-item-avatar-view {
    @apply w-full rounded-t-lg relative;

    .classic-boat-order-item-avatar {
      @apply w-full rounded-t-lg object-cover;
    }

    .classic-boat-order-item-recommend {
      @apply absolute top-3 right-3 rounded-lg bg-secondaryYellow-1000 py-2 px-3 border-none outline-none focus:border-none focus:outline-none font-medium text-xs text-neutral07 leading-[16.8px];
    }
  }

  .classic-boat-order-item-content {
    @apply p-6;

    .classic-boat-order-item-title {
      @apply font-bold text-lg leading-[22px] text-neutral06;
    }

    .classic-boat-order-item-description {
      @apply font-normal text-sm leading-5 text-neutral05 mt-3 mb-3;
    }

    .classic-boat-order-item-footer {
      @apply flex items-center justify-between;

      .classic-boat-order-item-price {
        @apply text-neutral08 flex-1 font-bold text-[32px] leading-[45px];

        .classic-boat-order-item-price-day {
          @apply font-normal text-sm leading-5 text-neutral05;
        }
      }
    }
  }
}

.classic-boat-order-slider-item {
  box-shadow: none;
}

// Slider Order Item
.classic-boat-order-slider {
  @apply bg-neutral;

  div[class='slick-track'] {
    @apply pb-[79px] pt-10;
  }

  div[class="slick-slide slick-active"],
  // div[class="slick-slide"],
  div[class="slick-slide slick-active slick-current"] {
    @apply max-w-[312px] mr-8 rounded-lg;
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.08);
  }

  .classic-boat-order-slider-item {
    // @apply mr-8 first:mr-0 last:mr-0;
  }
}

.arrow-action-slider {
  @apply w-20 h-20 rounded-full z-[1] top-[47%] -translate-y-1/2 right-0 xl:-right-10;
}

.arrow-action-slider-previous {
  @apply rotate-180 top-[46%] left-0 xl:-left-10;
}
