.language-select {
  @apply absolute right-1 top-6;
}
.content-container {
  @apply h-full flex mx-4 items-center justify-center align-middle;
  .content {
    @apply w-full flex flex-col justify-center items-center max-w-[400px];
    .logo {
      @apply sm:hidden;
    }
  }
}
.title {
  @apply text-red-300 mb-2;
}
